<li class="control-group nested-fields">
  <% unless f.object.obligation_id.nil? %>
    <% @obligation = Obligation.find_by_id(f.object.obligation_id) %>
    <h4><%= @obligation.name %></h4>
     <%= text_replace_tokens(@obligation.description) %><br />
     <%= link_to_remove_association "remove", f, :class => 'btn btn-danger' %>
  <% else %>
      <%= f.select :obligation_id, Obligation.where(:true).collect  {|obligation| ["#{obligation.range} | #{obligation.name}", obligation.id]}, {:prompt => "Select Obligation"} %>
  <% end %>
</li>