<%- model_class = Obligation -%>
<div class="row">
  <div class="small-12 columns">
    <h1>Obligations</h1>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <table>
      <thead>
        <tr>
          <th width="80">d100 roll</th>
          <th>Obligation Type</th>
        </tr>
      </thead>
      <tbody>
        <% @obligations.each do |obligation| %>
          <tr>
            <td><%= obligation.range %></td>
            <td><strong><%= obligation.name %></strong>: <%= text_replace_tokens(obligation.description) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>