<%- model_class = Career -%>
<div class="row">
  <div class="small-12 columns">
    <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
  </div>
</div>
<% @careers.each do |career| %>
  <div class="row">
    <div class="small-12 columns panel">
      <h4><%= link_to career.name, career_path(career), :class => '' %></h4>
      <p><%= career.description.html_safe %></p>
    </div>
  </div>
<% end -%>
