<table>
  <% Armor.where("hard_points > 0").order("name ASC").map do |armor| %>
    <tr class="<%= "#{cycle('odd', 'even')}" %>">
      <td><%= armor.name %></td>
      <% AttachmentGroup.all.order("name ASC").map do |group| %>
        <% check = ArmorAttachmentsGroup.where(:armor_id => armor.id, :attachment_group_id => group.id).first %>
        <% field_class = check.blank? ? "" : "active-attachment-group" %>
        <td class="<%= field_class%>">
          <%= link_to "#{group.name}", admin_developer_tools_toggle_armor_attachment_group_path(:armor => armor.id, :group => group.id), :method => :post, :remote => :true %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
