<%- model_class = Skill -%>
<div class="row">
  <div class="small-12 columns">
    <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
  </div>
</div>
<% @skills.each do |skill| %>
  <div class="row">
    <div class="small-12 columns panel">
      <h4><%= skill.name %> <small>[<%= skill.characteristic %>]</small></h4>
      <%= simple_format(text_replace_tokens(skill.description)).html_safe %>
    </div>
  </div>
<% end -%>
