<div class="row-fluid">
  <div class="span12">
    <h4>Table 1: Human Given Names</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>1d10 Roll</th>
          <th>Result</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1-7</td><td>Roll once on Table 2 or Table 3.</td>
        </tr>
        <tr>
          <td>8-9</td><td>Roll twice on Table 2 or Table 3. Use the same table for both rolls. Reroll duplications.</td>
        </tr>
        <tr>
          <td>10</td><td>Roll three times on Table 2 or Table 3. Use the same table for both rolls. Reroll duplications.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <h4>Table 2: Human Male Names</h4>
    <div class="row-fluid">
      <div class="span3">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>d% Roll</th>
              <th>Result</th>
            </tr>
          </thead>
          <tbody>
            <tr><td>1</td><td>Adol</td></tr>
            <tr><td>2</td><td>Ariq</td></tr>
            <tr><td>3</td><td>Arvid</td></tr>
            <tr><td>4</td><td>Arwen</td></tr>
            <tr><td>5</td><td>Aves</td></tr>
            <tr><td>6</td><td>Bail</td></tr>
            <tr><td>7</td><td>Bardo</td></tr>
            <tr><td>8</td><td>Barnab</td></tr>
            <tr><td>9</td><td>Biggs</td></tr>
            <tr><td>10</td><td>Bor</td></tr>
            <tr><td>11</td><td>Bron</td></tr>
            <tr><td>12</td><td>Bror</td></tr>
            <tr><td>13</td><td>Bruck</td></tr>
            <tr><td>14</td><td>Castin</td></tr>
            <tr><td>15</td><td>Chelch</td></tr>
            <tr><td>16</td><td>Cho</td></tr>
            <tr><td>17</td><td>Corran</td></tr>
            <tr><td>18</td><td>Crev</td></tr>
            <tr><td>19</td><td>Dace</td></tr>
            <tr><td>20</td><td>Dack</td></tr>
            <tr><td>21</td><td>Dal</td></tr>
            <tr><td>22</td><td>Darda</td></tr>
            <tr><td>23</td><td>Darven</td></tr>
            <tr><td>24</td><td>Davish</td></tr>
            <tr><td>25</td><td>Daye</td></tr>
          </tbody>
        </table>
      </div>
      <div class="span3">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>d% Roll</th>
              <th>Result</th>
            </tr>
          </thead>
          <tbody>
            <tr><td>26</td><td>Dev</td></tr>
            <tr><td>27</td><td>Dorn</td></tr>
            <tr><td>28</td><td>Ephin</td></tr>
            <tr><td>29</td><td>Erdan</td></tr>
            <tr><td>30</td><td>Fynn</td></tr>
            <tr><td>31</td><td>Fyor</td></tr>
            <tr><td>32</td><td>Ganner</td></tr>
            <tr><td>33</td><td>Garik</td></tr>
            <tr><td>34</td><td>Gilad</td></tr>
            <tr><td>35</td><td>Gir</td></tr>
            <tr><td>36</td><td>Gonar</td></tr>
            <tr><td>37</td><td>Han</td></tr>
            <tr><td>38</td><td>Hannis</td></tr>
            <tr><td>39</td><td>Horm</td></tr>
            <tr><td>40</td><td>Iaco</td></tr>
            <tr><td>41</td><td>Inder</td></tr>
            <tr><td>42</td><td>Jacen</td></tr>
            <tr><td>43</td><td>Jaster</td></tr>
            <tr><td>44</td><td>Jek</td></tr>
            <tr><td>45</td><td>Jerec</td></tr>
            <tr><td>46</td><td>Jorus</td></tr>
            <tr><td>47</td><td>Kaleb</td></tr>
            <tr><td>48</td><td>Kam</td></tr>
            <tr><td>49</td><td>Kell</td></tr>
            <tr><td>50</td><td>Keyan</td></tr>
          </tbody>
        </table>
      </div>
      <div class="span3">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>d% Roll</th>
              <th>Result</th>
            </tr>
          </thead>
          <tbody>
            <tr><td>51</td><td>Kyp</td></tr>
            <tr><td>52</td><td>Lanius</td></tr>
            <tr><td>53</td><td>Lirin</td></tr>
            <tr><td>54</td><td>Mace</td></tr>
            <tr><td>55</td><td>Markre</td></tr>
            <tr><td>56</td><td>Marl</td></tr>
            <tr><td>57</td><td>Miko</td></tr>
            <tr><td>58</td><td>Naroon</td></tr>
            <tr><td>59</td><td>Nichos</td></tr>
            <tr><td>60</td><td>Noa</td></tr>
            <tr><td>61</td><td>Obi</td></tr>
            <tr><td>62</td><td>Onjo</td></tr>
            <tr><td>63</td><td>Pedric</td></tr>
            <tr><td>64</td><td>Predne</td></tr>
            <tr><td>65</td><td>Pylokam</td></tr>
            <tr><td>66</td><td>Quaad</td></tr>
            <tr><td>67</td><td>Quinlan</td></tr>
            <tr><td>68</td><td>Rade</td></tr>
            <tr><td>69</td><td>Raith</td></tr>
            <tr><td>70</td><td>R'all</td></tr>
            <tr><td>71</td><td>Rann</td></tr>
            <tr><td>72</td><td>Raynar</td></tr>
            <tr><td>73</td><td>Salek</td></tr>
            <tr><td>74</td><td>Sarn</td></tr>
            <tr><td>75</td><td>Sate</td></tr>
          </tbody>
        </table>
      </div>
      <div class="span3">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>d% Roll</th>
              <th>Result</th>
            </tr>
          </thead>
          <tbody>
            <tr><td>76</td><td>Set</td></tr>
            <tr><td>77</td><td>Shalo</td></tr>
            <tr><td>78</td><td>Shran</td></tr>
            <tr><td>79</td><td>Shug</td></tr>
            <tr><td>80</td><td>Soon</td></tr>
            <tr><td>81</td><td>Streen</td></tr>
            <tr><td>82</td><td>Tal</td></tr>
            <tr><td>83</td><td>Tam</td></tr>
            <tr><td>84</td><td>Todrin</td></tr>
            <tr><td>85</td><td>Tomer</td></tr>
            <tr><td>86</td><td>Ton</td></tr>
            <tr><td>87</td><td>Tornik</td></tr>
            <tr><td>88</td><td>Travot</td></tr>
            <tr><td>89</td><td>Urias</td></tr>
            <tr><td>90</td><td>Valin</td></tr>
            <tr><td>91</td><td>Vil</td></tr>
            <tr><td>92</td><td>Vor'en</td></tr>
            <tr><td>93</td><td>Vyn</td></tr>
            <tr><td>94</td><td>Wedge</td></tr>
            <tr><td>95</td><td>Wenton</td></tr>
            <tr><td>96</td><td>Wurth</td></tr>
            <tr><td>97</td><td>Yush</td></tr>
            <tr><td>98</td><td>Zak</td></tr>
            <tr><td>99</td><td>Zekk</td></tr>
            <tr><td>100</td><td>Zurel</td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <h4>Table 2: Human Female Names</h4>
    <div class="row-fluid">
      <div class="span3">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>d% Roll</th>
              <th>Result</th>
            </tr>
          </thead>
          <tbody>
            <tr><td>1</td><td>Adi</td></tr>
            <tr><td>2</td><td>Alinn</td></tr>
            <tr><td>3</td><td>Amee</td></tr>
            <tr><td>4</td><td>Anet</td></tr>
            <tr><td>5</td><td>Ara</td></tr>
            <tr><td>6</td><td>Arden</td></tr>
            <tr><td>7</td><td>Ariela</td></tr>
            <tr><td>8</td><td>Atril</td></tr>
            <tr><td>9</td><td>Brea</td></tr>
            <tr><td>10</td><td>Bultar</td></tr>
            <tr><td>11</td><td>Cas</td></tr>
            <tr><td>12</td><td>Cindel</td></tr>
            <tr><td>13</td><td>Corey</td></tr>
            <tr><td>14</td><td>Cray</td></tr>
            <tr><td>15</td><td>Dane</td></tr>
            <tr><td>16</td><td>Danni</td></tr>
            <tr><td>17</td><td>Di</td></tr>
            <tr><td>18</td><td>Dimeele</td></tr>
            <tr><td>19</td><td>Dorset</td></tr>
            <tr><td>20</td><td>Dynba</td></tr>
            <tr><td>21</td><td>Edda</td></tr>
            <tr><td>22</td><td>Eelysa</td></tr>
            <tr><td>23</td><td>Ennyl</td></tr>
            <tr><td>24</td><td>Faime</td></tr>
            <tr><td>25</td><td>Falynn</td></tr>
          </tbody>
        </table>
      </div>
      <div class="span3">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>d% Roll</th>
              <th>Result</th>
            </tr>
          </thead>
          <tbody>
            <tr><td>26</td><td>Fiolla</td></tr>
            <tr><td>27</td><td>Frija</td></tr>
            <tr><td>28</td><td>Gara</td></tr>
            <tr><td>29</td><td>Garil</td></tr>
            <tr><td>30</td><td>Ghia</td></tr>
            <tr><td>31</td><td>Hala</td></tr>
            <tr><td>32</td><td>Hallis</td></tr>
            <tr><td>33</td><td>Hayde</td></tr>
            <tr><td>34</td><td>Honi</td></tr>
            <tr><td>35</td><td>Hraashi</td></tr>
            <tr><td>36</td><td>Hundria</td></tr>
            <tr><td>37</td><td>Iella</td></tr>
            <tr><td>38</td><td>Inyri</td></tr>
            <tr><td>39</td><td>Jaina</td></tr>
            <tr><td>40</td><td>Jenna</td></tr>
            <tr><td>41</td><td>Jens</td></tr>
            <tr><td>42</td><td>Jocasta</td></tr>
            <tr><td>43</td><td>Jozzel</td></tr>
            <tr><td>44</td><td>Jude</td></tr>
            <tr><td>45</td><td>Kel</td></tr>
            <tr><td>46</td><td>Kira</td></tr>
            <tr><td>47</td><td>Kirry</td></tr>
            <tr><td>48</td><td>Klin</td></tr>
            <tr><td>49</td><td>Lara</td></tr>
            <tr><td>50</td><td>Leia</td></tr>
          </tbody>
        </table>
      </div>
      <div class="span3">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>d% Roll</th>
              <th>Result</th>
            </tr>
          </thead>
          <tbody>
            <tr><td>51</td><td>Leonia</td></tr>
            <tr><td>52</td><td>Lexi</td></tr>
            <tr><td>53</td><td>Lilit</td></tr>
            <tr><td>54</td><td>Lomina</td></tr>
            <tr><td>55</td><td>Lowle</td></tr>
            <tr><td>56</td><td>Lysire</td></tr>
            <tr><td>57</td><td>Mal</td></tr>
            <tr><td>58</td><td>Mar</td></tr>
            <tr><td>59</td><td>Melina</td></tr>
            <tr><td>60</td><td>Merglyn</td></tr>
            <tr><td>61</td><td>Metarie</td></tr>
            <tr><td>62</td><td>Miat</td></tr>
            <tr><td>63</td><td>Miera</td></tr>
            <tr><td>64</td><td>Mirax</td></tr>
            <tr><td>65</td><td>Mora</td></tr>
            <tr><td>66</td><td>Necil</td></tr>
            <tr><td>67</td><td>Nima</td></tr>
            <tr><td>68</td><td>Octa</td></tr>
            <tr><td>69</td><td>Opeli</td></tr>
            <tr><td>70</td><td>Padme</td></tr>
            <tr><td>71</td><td>Palee</td></tr>
            <tr><td>72</td><td>Preena</td></tr>
            <tr><td>73</td><td>Qatya</td></tr>
            <tr><td>74</td><td>Rabe</td></tr>
            <tr><td>75</td><td>Rasca</td></tr>
          </tbody>
        </table>
      </div>
      <div class="span3">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>d% Roll</th>
              <th>Result</th>
            </tr>
          </thead>
          <tbody>
            <tr><td>76</td><td>Reha</td></tr>
            <tr><td>77</td><td>Relia</td></tr>
            <tr><td>78</td><td>Rena</td></tr>
            <tr><td>79</td><td>Renci</td></tr>
            <tr><td>80</td><td>Sache</td></tr>
            <tr><td>81</td><td>Senni</td></tr>
            <tr><td>82</td><td>Sera</td></tr>
            <tr><td>83</td><td>Shalla</td></tr>
            <tr><td>84</td><td>Sia</td></tr>
            <tr><td>85</td><td>Sne</td></tr>
            <tr><td>86</td><td>Taselda</td></tr>
            <tr><td>87</td><td>Teckla</td></tr>
            <tr><td>88</td><td>Telsij</td></tr>
            <tr><td>89</td><td>Tia</td></tr>
            <tr><td>90</td><td>Tinian</td></tr>
            <tr><td>91</td><td>Todra</td></tr>
            <tr><td>92</td><td>Tistra</td></tr>
            <tr><td>93</td><td>Tyria</td></tr>
            <tr><td>94</td><td>Uwlla</td></tr>
            <tr><td>95</td><td>Valara</td></tr>
            <tr><td>96</td><td>Volu</td></tr>
            <tr><td>97</td><td>Vula</td></tr>
            <tr><td>98</td><td>Yara</td></tr>
            <tr><td>99</td><td>Yesha</td></tr>
            <tr><td>100</td><td>Zey</td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <h4>Table 2: Human Surnames</h4>
    <div class="row-fluid">
      <div class="span3">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>d% Roll</th>
              <th>Result</th>
            </tr>
          </thead>
          <tbody>
            <tr><td>1</td><td>Arranda</td></tr>
            <tr><td>2</td><td>Balu</td></tr>
            <tr><td>3</td><td>Baskalar</td></tr>
            <tr><td>4</td><td>Bogen</td></tr>
            <tr><td>5</td><td>Bombaasa</td></tr>
            <tr><td>6</td><td>Bruit</td></tr>
            <tr><td>7</td><td>Burren</td></tr>
            <tr><td>8</td><td>Caveel</td></tr>
            <tr><td>9</td><td>Chalco</td></tr>
            <tr><td>10</td><td>Chin</td></tr>
            <tr><td>11</td><td>Chistor</td></tr>
            <tr><td>12</td><td>Chun</td></tr>
            <tr><td>13</td><td>Cuthus</td></tr>
            <tr><td>14</td><td>Daal</td></tr>
            <tr><td>15</td><td>Darilian</td></tr>
            <tr><td>16</td><td>Dissek</td></tr>
            <tr><td>17</td><td>Dorn</td></tr>
            <tr><td>18</td><td>Donn</td></tr>
            <tr><td>19</td><td>Drase</td></tr>
            <tr><td>20</td><td>Dravvad</td></tr>
            <tr><td>21</td><td>Endac</td></tr>
            <tr><td>22</td><td>Etison</td></tr>
            <tr><td>23</td><td>Faleur</td></tr>
            <tr><td>24</td><td>Flautis</td></tr>
            <tr><td>25</td><td>Forma</td></tr>
          </tbody>
        </table>
      </div>
      <div class="span3">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>d% Roll</th>
              <th>Result</th>
            </tr>
          </thead>
          <tbody>
            <tr><td>26</td><td>Gast</td></tr>
            <tr><td>27</td><td>Gofai</td></tr>
            <tr><td>28</td><td>Gracus</td></tr>
            <tr><td>29</td><td>Graff</td></tr>
            <tr><td>30</td><td>Hannser</td></tr>
            <tr><td>31</td><td>Harrak</td></tr>
            <tr><td>32</td><td>Harth</td></tr>
            <tr><td>33</td><td>Hoban</td></tr>
            <tr><td>34</td><td>Imsatad</td></tr>
            <tr><td>35</td><td>Jace</td></tr>
            <tr><td>36</td><td>Kargin</td></tr>
            <tr><td>37</td><td>Kargin</td></tr>
            <tr><td>38</td><td>Keyis</td></tr>
            <tr><td>39</td><td>Konnar</td></tr>
            <tr><td>40</td><td>Krail</td></tr>
            <tr><td>41</td><td>Kurn</td></tr>
            <tr><td>42</td><td>Lar</td></tr>
            <tr><td>43</td><td>Laut</td></tr>
            <tr><td>44</td><td>Loran</td></tr>
            <tr><td>45</td><td>Mantid</td></tr>
            <tr><td>46</td><td>Mayn</td></tr>
            <tr><td>47</td><td>Melvar</td></tr>
            <tr><td>48</td><td>Miskin</td></tr>
            <tr><td>49</td><td>Mitsun</td></tr>
            <tr><td>50</td><td>Morano</td></tr>
          </tbody>
        </table>
      </div>
      <div class="span3">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>d% Roll</th>
              <th>Result</th>
            </tr>
          </thead>
          <tbody>
            <tr><td>51</td><td>Mors</td></tr>
            <tr><td>52</td><td>Nammon</td></tr>
            <tr><td>53</td><td>Narcassan</td></tr>
            <tr><td>54</td><td>Nassin</td></tr>
            <tr><td>55</td><td>Nelprin</td></tr>
            <tr><td>56</td><td>Netbers</td></tr>
            <tr><td>57</td><td>Noor</td></tr>
            <tr><td>58</td><td>Notsil</td></tr>
            <tr><td>59</td><td>Omas</td></tr>
            <tr><td>60</td><td>Orn</td></tr>
            <tr><td>61</td><td>Pace</td></tr>
            <tr><td>62</td><td>Panaka</td></tr>
            <tr><td>63</td><td>Panib</td></tr>
            <tr><td>64</td><td>Perhi</td></tr>
            <tr><td>65</td><td>Petothel</td></tr>
            <tr><td>66</td><td>Phanan</td></tr>
            <tr><td>67</td><td>Phenets</td></tr>
            <tr><td>68</td><td>Pressin</td></tr>
            <tr><td>69</td><td>Quee</td></tr>
            <tr><td>70</td><td>Ramis</td></tr>
            <tr><td>71</td><td>Reglia</td></tr>
            <tr><td>72</td><td>Repness</td></tr>
            <tr><td>73</td><td>Rimsen</td></tr>
            <tr><td>74</td><td>Roke</td></tr>
            <tr><td>75</td><td>Rossik</td></tr>
          </tbody>
        </table>
      </div>
      <div class="span3">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>d% Roll</th>
              <th>Result</th>
            </tr>
          </thead>
          <tbody>
            <tr><td>76</td><td>Rozess</td></tr>
            <tr><td>77</td><td>Saar</td></tr>
            <tr><td>78</td><td>Salm</td></tr>
            <tr><td>79</td><td>Saper</td></tr>
            <tr><td>70</td><td>Sarkin</td></tr>
            <tr><td>81</td><td>Scraf</td></tr>
            <tr><td>82</td><td>Semtin</td></tr>
            <tr><td>83</td><td>Sheckil</td></tr>
            <tr><td>84</td><td>Shild</td></tr>
            <tr><td>85</td><td>Tabanne</td></tr>
            <tr><td>86</td><td>Tainer</td></tr>
            <tr><td>87</td><td>Tavers</td></tr>
            <tr><td>88</td><td>Tavira</td></tr>
            <tr><td>89</td><td>Terrik</td></tr>
            <tr><td>90</td><td>Threkin</td></tr>
            <tr><td>91</td><td>Tikaris</td></tr>
            <tr><td>92</td><td>Torve</td></tr>
            <tr><td>93</td><td>Trigit</td></tr>
            <tr><td>94</td><td>Ungasan</td></tr>
            <tr><td>95</td><td>Valton</td></tr>
            <tr><td>96</td><td>Vellar</td></tr>
            <tr><td>97</td><td>Venutton</td></tr>
            <tr><td>98</td><td>Vorusk</td></tr>
            <tr><td>99</td><td>Yoly</td></tr>
            <tr><td>100</td><td>Zilar</td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>