.row
  .medium-12.columns
    %h4 Table 1: Human Given Names
    %table.table.table-striped
      %thead
        %tr
          %th 1d10 Roll
          %th Result
      %tbody
        %tr
          %td 1-7
          %td Roll once on Table 2 or Table 3.
        %tr
          %td 8-9
          %td Roll twice on Table 2 or Table 3. Use the same table for both rolls. Reroll duplications.
        %tr
          %td 10
          %td Roll three times on Table 2 or Table 3. Use the same table for both rolls. Reroll duplications.
.row
  .medium-12.columns
    %h4 Table 2: Human Male Names
.row
  .medium-3.columns
    %table
      %thead
        %tr
          %th d% Roll
          %th Result
      %tbody
        %tr
          %td 1
          %td Adol
        %tr
          %td 2
          %td Ariq
        %tr
          %td 3
          %td Arvid
        %tr
          %td 4
          %td Arwen
        %tr
          %td 5
          %td Aves
        %tr
          %td 6
          %td Bail
        %tr
          %td 7
          %td Bardo
        %tr
          %td 8
          %td Barnab
        %tr
          %td 9
          %td Biggs
        %tr
          %td 10
          %td Bor
        %tr
          %td 11
          %td Bron
        %tr
          %td 12
          %td Bror
        %tr
          %td 13
          %td Bruck
        %tr
          %td 14
          %td Castin
        %tr
          %td 15
          %td Chelch
        %tr
          %td 16
          %td Cho
        %tr
          %td 17
          %td Corran
        %tr
          %td 18
          %td Crev
        %tr
          %td 19
          %td Dace
        %tr
          %td 20
          %td Dack
        %tr
          %td 21
          %td Dal
        %tr
          %td 22
          %td Darda
        %tr
          %td 23
          %td Darven
        %tr
          %td 24
          %td Davish
        %tr
          %td 25
          %td Daye
  .medium-3.columns
    %table
      %thead
        %tr
          %th d% Roll
          %th Result
      %tbody
        %tr
          %td 26
          %td Dev
        %tr
          %td 27
          %td Dorn
        %tr
          %td 28
          %td Ephin
        %tr
          %td 29
          %td Erdan
        %tr
          %td 30
          %td Fynn
        %tr
          %td 31
          %td Fyor
        %tr
          %td 32
          %td Ganner
        %tr
          %td 33
          %td Garik
        %tr
          %td 34
          %td Gilad
        %tr
          %td 35
          %td Gir
        %tr
          %td 36
          %td Gonar
        %tr
          %td 37
          %td Han
        %tr
          %td 38
          %td Hannis
        %tr
          %td 39
          %td Horm
        %tr
          %td 40
          %td Iaco
        %tr
          %td 41
          %td Inder
        %tr
          %td 42
          %td Jacen
        %tr
          %td 43
          %td Jaster
        %tr
          %td 44
          %td Jek
        %tr
          %td 45
          %td Jerec
        %tr
          %td 46
          %td Jorus
        %tr
          %td 47
          %td Kaleb
        %tr
          %td 48
          %td Kam
        %tr
          %td 49
          %td Kell
        %tr
          %td 50
          %td Keyan
  .medium-3.columns
    %table
      %thead
        %tr
          %th d% Roll
          %th Result
      %tbody
        %tr
          %td 51
          %td Kyp
        %tr
          %td 52
          %td Lanius
        %tr
          %td 53
          %td Lirin
        %tr
          %td 54
          %td Mace
        %tr
          %td 55
          %td Markre
        %tr
          %td 56
          %td Marl
        %tr
          %td 57
          %td Miko
        %tr
          %td 58
          %td Naroon
        %tr
          %td 59
          %td Nichos
        %tr
          %td 60
          %td Noa
        %tr
          %td 61
          %td Obi
        %tr
          %td 62
          %td Onjo
        %tr
          %td 63
          %td Pedric
        %tr
          %td 64
          %td Predne
        %tr
          %td 65
          %td Pylokam
        %tr
          %td 66
          %td Quaad
        %tr
          %td 67
          %td Quinlan
        %tr
          %td 68
          %td Rade
        %tr
          %td 69
          %td Raith
        %tr
          %td 70
          %td R'all
        %tr
          %td 71
          %td Rann
        %tr
          %td 72
          %td Raynar
        %tr
          %td 73
          %td Salek
        %tr
          %td 74
          %td Sarn
        %tr
          %td 75
          %td Sate
  .medium-3.columns
    %table
      %thead
        %tr
          %th d% Roll
          %th Result
      %tbody
        %tr
          %td 76
          %td Set
        %tr
          %td 77
          %td Shalo
        %tr
          %td 78
          %td Shran
        %tr
          %td 79
          %td Shug
        %tr
          %td 80
          %td Soon
        %tr
          %td 81
          %td Streen
        %tr
          %td 82
          %td Tal
        %tr
          %td 83
          %td Tam
        %tr
          %td 84
          %td Todrin
        %tr
          %td 85
          %td Tomer
        %tr
          %td 86
          %td Ton
        %tr
          %td 87
          %td Tornik
        %tr
          %td 88
          %td Travot
        %tr
          %td 89
          %td Urias
        %tr
          %td 90
          %td Valin
        %tr
          %td 91
          %td Vil
        %tr
          %td 92
          %td Vor'en
        %tr
          %td 93
          %td Vyn
        %tr
          %td 94
          %td Wedge
        %tr
          %td 95
          %td Wenton
        %tr
          %td 96
          %td Wurth
        %tr
          %td 97
          %td Yush
        %tr
          %td 98
          %td Zak
        %tr
          %td 99
          %td Zekk
        %tr
          %td 100
          %td Zurel
.row
  .medium-12.columns
    %h4 Table 2: Human Female Names
.row
  .medium-3.columns
    %table.table.table-striped
      %thead
        %tr
          %th d% Roll
          %th Result
      %tbody
        %tr
          %td 1
          %td Adi
        %tr
          %td 2
          %td Alinn
        %tr
          %td 3
          %td Amee
        %tr
          %td 4
          %td Anet
        %tr
          %td 5
          %td Ara
        %tr
          %td 6
          %td Arden
        %tr
          %td 7
          %td Ariela
        %tr
          %td 8
          %td Atril
        %tr
          %td 9
          %td Brea
        %tr
          %td 10
          %td Bultar
        %tr
          %td 11
          %td Cas
        %tr
          %td 12
          %td Cindel
        %tr
          %td 13
          %td Corey
        %tr
          %td 14
          %td Cray
        %tr
          %td 15
          %td Dane
        %tr
          %td 16
          %td Danni
        %tr
          %td 17
          %td Di
        %tr
          %td 18
          %td Dimeele
        %tr
          %td 19
          %td Dorset
        %tr
          %td 20
          %td Dynba
        %tr
          %td 21
          %td Edda
        %tr
          %td 22
          %td Eelysa
        %tr
          %td 23
          %td Ennyl
        %tr
          %td 24
          %td Faime
        %tr
          %td 25
          %td Falynn
  .medium-3.columns
    %table
      %thead
        %tr
          %th d% Roll
          %th Result
      %tbody
        %tr
          %td 26
          %td Fiolla
        %tr
          %td 27
          %td Frija
        %tr
          %td 28
          %td Gara
        %tr
          %td 29
          %td Garil
        %tr
          %td 30
          %td Ghia
        %tr
          %td 31
          %td Hala
        %tr
          %td 32
          %td Hallis
        %tr
          %td 33
          %td Hayde
        %tr
          %td 34
          %td Honi
        %tr
          %td 35
          %td Hraashi
        %tr
          %td 36
          %td Hundria
        %tr
          %td 37
          %td Iella
        %tr
          %td 38
          %td Inyri
        %tr
          %td 39
          %td Jaina
        %tr
          %td 40
          %td Jenna
        %tr
          %td 41
          %td Jens
        %tr
          %td 42
          %td Jocasta
        %tr
          %td 43
          %td Jozzel
        %tr
          %td 44
          %td Jude
        %tr
          %td 45
          %td Kel
        %tr
          %td 46
          %td Kira
        %tr
          %td 47
          %td Kirry
        %tr
          %td 48
          %td Klin
        %tr
          %td 49
          %td Lara
        %tr
          %td 50
          %td Leia
  .medium-3.columns
    %table
      %thead
        %tr
          %th d% Roll
          %th Result
      %tbody
        %tr
          %td 51
          %td Leonia
        %tr
          %td 52
          %td Lexi
        %tr
          %td 53
          %td Lilit
        %tr
          %td 54
          %td Lomina
        %tr
          %td 55
          %td Lowle
        %tr
          %td 56
          %td Lysire
        %tr
          %td 57
          %td Mal
        %tr
          %td 58
          %td Mar
        %tr
          %td 59
          %td Melina
        %tr
          %td 60
          %td Merglyn
        %tr
          %td 61
          %td Metarie
        %tr
          %td 62
          %td Miat
        %tr
          %td 63
          %td Miera
        %tr
          %td 64
          %td Mirax
        %tr
          %td 65
          %td Mora
        %tr
          %td 66
          %td Necil
        %tr
          %td 67
          %td Nima
        %tr
          %td 68
          %td Octa
        %tr
          %td 69
          %td Opeli
        %tr
          %td 70
          %td Padme
        %tr
          %td 71
          %td Palee
        %tr
          %td 72
          %td Preena
        %tr
          %td 73
          %td Qatya
        %tr
          %td 74
          %td Rabe
        %tr
          %td 75
          %td Rasca
  .medium-3.columns
    %table
      %thead
        %tr
          %th d% Roll
          %th Result
      %tbody
        %tr
          %td 76
          %td Reha
        %tr
          %td 77
          %td Relia
        %tr
          %td 78
          %td Rena
        %tr
          %td 79
          %td Renci
        %tr
          %td 80
          %td Sache
        %tr
          %td 81
          %td Senni
        %tr
          %td 82
          %td Sera
        %tr
          %td 83
          %td Shalla
        %tr
          %td 84
          %td Sia
        %tr
          %td 85
          %td Sne
        %tr
          %td 86
          %td Taselda
        %tr
          %td 87
          %td Teckla
        %tr
          %td 88
          %td Telsij
        %tr
          %td 89
          %td Tia
        %tr
          %td 90
          %td Tinian
        %tr
          %td 91
          %td Todra
        %tr
          %td 92
          %td Tistra
        %tr
          %td 93
          %td Tyria
        %tr
          %td 94
          %td Uwlla
        %tr
          %td 95
          %td Valara
        %tr
          %td 96
          %td Volu
        %tr
          %td 97
          %td Vula
        %tr
          %td 98
          %td Yara
        %tr
          %td 99
          %td Yesha
        %tr
          %td 100
          %td Zey
.row
  .medium-12.columns
    %h4 Table 2: Human Surnames
.row
  .medium-3.columns
    %table
      %thead
        %tr
          %th d% Roll
          %th Result
      %tbody
        %tr
          %td 1
          %td Arranda
        %tr
          %td 2
          %td Balu
        %tr
          %td 3
          %td Baskalar
        %tr
          %td 4
          %td Bogen
        %tr
          %td 5
          %td Bombaasa
        %tr
          %td 6
          %td Bruit
        %tr
          %td 7
          %td Burren
        %tr
          %td 8
          %td Caveel
        %tr
          %td 9
          %td Chalco
        %tr
          %td 10
          %td Chin
        %tr
          %td 11
          %td Chistor
        %tr
          %td 12
          %td Chun
        %tr
          %td 13
          %td Cuthus
        %tr
          %td 14
          %td Daal
        %tr
          %td 15
          %td Darilian
        %tr
          %td 16
          %td Dissek
        %tr
          %td 17
          %td Dorn
        %tr
          %td 18
          %td Donn
        %tr
          %td 19
          %td Drase
        %tr
          %td 20
          %td Dravvad
        %tr
          %td 21
          %td Endac
        %tr
          %td 22
          %td Etison
        %tr
          %td 23
          %td Faleur
        %tr
          %td 24
          %td Flautis
        %tr
          %td 25
          %td Forma
  .medium-3.columns
    %table
      %thead
        %tr
          %th d% Roll
          %th Result
      %tbody
        %tr
          %td 26
          %td Gast
        %tr
          %td 27
          %td Gofai
        %tr
          %td 28
          %td Gracus
        %tr
          %td 29
          %td Graff
        %tr
          %td 30
          %td Hannser
        %tr
          %td 31
          %td Harrak
        %tr
          %td 32
          %td Harth
        %tr
          %td 33
          %td Hoban
        %tr
          %td 34
          %td Imsatad
        %tr
          %td 35
          %td Jace
        %tr
          %td 36
          %td Kargin
        %tr
          %td 37
          %td Kargin
        %tr
          %td 38
          %td Keyis
        %tr
          %td 39
          %td Konnar
        %tr
          %td 40
          %td Krail
        %tr
          %td 41
          %td Kurn
        %tr
          %td 42
          %td Lar
        %tr
          %td 43
          %td Laut
        %tr
          %td 44
          %td Loran
        %tr
          %td 45
          %td Mantid
        %tr
          %td 46
          %td Mayn
        %tr
          %td 47
          %td Melvar
        %tr
          %td 48
          %td Miskin
        %tr
          %td 49
          %td Mitsun
        %tr
          %td 50
          %td Morano
  .medium-3.columns
    %table
      %thead
        %tr
          %th d% Roll
          %th Result
      %tbody
        %tr
          %td 51
          %td Mors
        %tr
          %td 52
          %td Nammon
        %tr
          %td 53
          %td Narcassan
        %tr
          %td 54
          %td Nassin
        %tr
          %td 55
          %td Nelprin
        %tr
          %td 56
          %td Netbers
        %tr
          %td 57
          %td Noor
        %tr
          %td 58
          %td Notsil
        %tr
          %td 59
          %td Omas
        %tr
          %td 60
          %td Orn
        %tr
          %td 61
          %td Pace
        %tr
          %td 62
          %td Panaka
        %tr
          %td 63
          %td Panib
        %tr
          %td 64
          %td Perhi
        %tr
          %td 65
          %td Petothel
        %tr
          %td 66
          %td Phanan
        %tr
          %td 67
          %td Phenets
        %tr
          %td 68
          %td Pressin
        %tr
          %td 69
          %td Quee
        %tr
          %td 70
          %td Ramis
        %tr
          %td 71
          %td Reglia
        %tr
          %td 72
          %td Repness
        %tr
          %td 73
          %td Rimsen
        %tr
          %td 74
          %td Roke
        %tr
          %td 75
          %td Rossik
  .medium-3.columns
    %table
      %thead
        %tr
          %th d% Roll
          %th Result
      %tbody
        %tr
          %td 76
          %td Rozess
        %tr
          %td 77
          %td Saar
        %tr
          %td 78
          %td Salm
        %tr
          %td 79
          %td Saper
        %tr
          %td 70
          %td Sarkin
        %tr
          %td 81
          %td Scraf
        %tr
          %td 82
          %td Semtin
        %tr
          %td 83
          %td Sheckil
        %tr
          %td 84
          %td Shild
        %tr
          %td 85
          %td Tabanne
        %tr
          %td 86
          %td Tainer
        %tr
          %td 87
          %td Tavers
        %tr
          %td 88
          %td Tavira
        %tr
          %td 89
          %td Terrik
        %tr
          %td 90
          %td Threkin
        %tr
          %td 91
          %td Tikaris
        %tr
          %td 92
          %td Torve
        %tr
          %td 93
          %td Trigit
        %tr
          %td 94
          %td Ungasan
        %tr
          %td 95
          %td Valton
        %tr
          %td 96
          %td Vellar
        %tr
          %td 97
          %td Venutton
        %tr
          %td 98
          %td Vorusk
        %tr
          %td 99
          %td Yoly
        %tr
          %td 100
          %td Zilar