<div class="page-header">
  <h1><%=t '.title', :default => 'Careers' %></h1>
  <p>What a player chooses as a career for his character defines the overall and ongoing  commitment to a way f life for that character. A career is more than just what a character does for a living - it is his way of life, encompassing his goals, his passions, his training, and his destiny. Areas of focus may change over time, but a character will never truly stop being whatever it is he chose to be at his core.</p>
</div>
<% @careers.each do |career| %>
  <h2><%= career.name %></h2>
  <p><%= career.description.html_safe %></p>
<% end %>

