<div class="row">
  <div class="medium-12 columns">
    <h1><%= @title %></h1>
  </div>
</div>
<div class="row">
  <div class="medium-9 columns">
    <p><%= @step_one.html_safe %></p>
    <%= render :partial => @partial_name %>
  </div>
  <div class="medium-3 columns">
    <% @description.each do |text| %>
      <p><%= text.html_safe %></p>
    <% end %>
  </div>
</div>

