.fields
  .row
    .small-2.columns
      = f.label :name, :class => 'inline right'
    .small-9.columns
      = f.input :name, label: false
    .small-1.columns
      = f.hidden_field :_destroy
      = link_to "<i class='fi-trash'></i>".html_safe, '', :onclick => "remove_fields(this);return false;"
