<% unless ranks.nil? or score.nil? %>
<% score = score - ranks %>
[<span class="yellow-dice"><% ranks.times do %><%= image_tag("dice/proficiency.png", :alt => "proficiency", :title => "Proficiency Dice", :size => '12') %><% end %></span><span class="green-dice"><% score.times do %><%= image_tag("dice/ability.png", :alt => "ability", :title => "Ability Dice", :size => '12') %><% end %></span>]
<% end -%>