<% score = score - ranks %>
[<span class="yellow-dice"><% ranks.times do %><%= image_tag("dice/proficiency.png", :alt => "proficiency", :title => "Proficiency Dice") %><% end %></span><span class="green-dice"><% score.times do %><%= image_tag("dice/ability.png", :alt => "ability", :title => "Ability Dice") %><% end %></span>]