<%- model_class = Character -%>
<div class="row">
  <div class="medium-12 columns">
    <h1>Edit <%= @character.name %></h1>
  </div>
</div>
<div class="row">
  <div class="medium-12 columns">
    <%= render :partial => 'character_edit_menu' %>
  </div>
</div>
<div class="row">
  <div class="medium-12 columns">
    <%= render :partial => 'form' %>
  </div>
</div>
