<div class="row">
  <div class="small-12 columns">
    <h1><%=t '.title', :default => "#{@character.name} - Species" %></h1>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= render :partial => 'character_edit_menu' %>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <div class="panel" id="species-info">
      <% unless @character.race_id.blank? %>
        <%= render :partial => 'species_info', :locals => { :species => @character.race, :character => @character, :changed => false } %>
      <% end %>
    </div>
  </div>
</div>