- content_for :title do
  Unprocessable Entity
.row
  .small-12.columns
    %center
      %h1 Unprocessable entity
      %p
        Something didn't go so well. Please try again or contact the site admin if the error persists.
