<% if character_adventure_log.id %>
<tr>
  <td style="vertical-align:top;"><strong><%= character_adventure_log.date.strftime("%m/%d/%Y") unless character_adventure_log.date.nil?  %></strong></td>
  <td><%= character_adventure_log.log %></td>
  <td style="vertical-align:top;"><strong><%= character_adventure_log.experience %></strong></td>
  <td style="vertical-align:top;">
    <%= link_to 'Delete', [character_adventure_log.character, character_adventure_log],
               method: :delete,
               data: { confirm: 'Are you sure?' }, :class => 'label alert tiny' %>
  </td>
</tr>
<% end %>