<div class="row">
  <div class="medium-12 columns">
    <h1><%=t '.title', :default => "Adventure Log for #{@character.name}" %></h1>
  </div>
</div>
<div class="row">
  <div class="medium-12 columns">
    <%= render :partial => 'characters/character_edit_menu' %>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <h5>New Log Entry</h5>
    <%= render "character_adventure_logs/form" %>
  </div>
  <div class="small-9 columns">
    <div class="row">
      <div class="small-12 columns">
        <table style="width:100%" class="responsive" >
          <thead>
            <th width="100">Date</th>
            <th>Details</th>
            <th width="100">Exp. earned</th>
            <th width="50"></th>
          </thead>
          <tbody>
            <%= render @character.character_adventure_logs %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
