.fields
  .row
    .small-10.columns
      = f.input :armor_attachment_id, :as => :select, :collection => ArmorAttachment.all.map{|u| ["#{u.name}", u.id]}, label: false
    .small-1.columns
      = f.hidden_field :_destroy
      = link_to "<i class='fi-trash'></i>".html_safe, '', :onclick => "remove_fields(this);return false;"
