    <% if flash[:error] -%>
    <div class="row">
      <div class="small-12 columns">
        <div data-alert class="alert-box warning radius">
          <%=h flash[:error].html_safe %>
        </div>
      </div>
    </div>
    <% end -%>
    <% if flash[:notice] -%>
      <div class="row">
        <div class="small-12 columns">
          <div data-alert class="alert-box info radius">
            <%=h flash[:notice].html_safe %>
          </div>
        </div>
      </div>
    <% end -%>
    <% if flash[:success] -%>
      <div class="row">
        <div class="small-12 columns">
          <div data-alert class="alert-box success radius">
            <%=h flash[:success].html_safe %>
          </div>
        </div>
      </div>
    <% end -%>
